/*PRZYCISKI*/

.grid-pane {
    -fx-background-color: #1A1A1A;  /* Kolor tła planszy */
    -fx-hgap: 4;
    -fx-vgap: 4;
}

.button {
    -fx-background-color: #1A1A1A;  /* Tło komórek */
    -fx-border-color: white;        /* Kolor obramowania komórek */
    -fx-border-width: 4;            /* Szerokość obramowania komórek (białe linie) */
    -fx-border-radius: 0;           /* Brak zaokrąglenia rogów przycisków */
    -fx-padding: 6;                 /* Wewnętrzne odstępy w komórkach */
    -fx-text-fill: white;           /* Kolor tekstu - biały (X lub O) */
}

/* Styl komórek po najechaniu */
.button:hover {
    -fx-effect: dropshadow(gaussian, #FFFFFF, 20, 0.5, 0, 0);
}

/*CZAT*/

/* Styl dla okna czatu */
.scroll-pane {
    -fx-background: #2A2A2A; /* Ciemne tło */
    -fx-border-color: white; /* Obramowanie */
    -fx-border-width: 2;
    -fx-border-radius: 5; /* Zaokrąglone rogi */
    -fx-padding: 10; /* Wewnętrzne odstępy */
}

/* Styl dla wiadomości przeciwnika */
.message-left {
    -fx-background-color: #96C2ED;
    -fx-text-fill: white;
    -fx-padding: 8;
    -fx-border-radius: 15; /* Zaokrąglenie tła */
    -fx-background-radius: 15; /* Zaokrąglenie tła */
}

/* Styl dla Twoich wiadomości */
.message-right {
    -fx-background-color: #47CFED; /* Cyan */
    -fx-text-fill: white;
    -fx-padding: 8;
    -fx-border-radius: 15; /* Zaokrąglenie tła */
    -fx-background-radius: 15; /* Zaokrąglenie tła */
}

/* Pole do wpisywania wiadomości */
.text-field {
    -fx-background-color: #2A2A2A;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-padding: 5;
}

/* Styl dla przycisku wysyłania wiadomości */
.send-button {
    -fx-background-color: #1E90FF;
    -fx-text-fill: white;
    -fx-border-color: white;
    -fx-border-radius: 5;
    -fx-padding: 5 20;
    -fx-min-width: 100px; /* Minimalna szerokość przycisku */
    -fx-max-width: 100%;   /* Maksymalna szerokość kontenera */
    -fx-alignment: center;  /* Wyrównanie tekstu w przycisku */
}

.send-button:hover {
    -fx-background-color: #4682B4; /* Jaśniejszy odcień przy najechaniu */
}






/*POWITANIE*/

.welcome-text {
    -fx-font-size: 30px;           /* Większy rozmiar czcionki */
    -fx-text-fill: white;          /* Kolor tekstu - biały */
}







/*KOLOR TABELEK W STATS*/

.green {
    -fx-background-color: #28a745;  /* Zielony kolor dla wygranej (Wins) */
}

.grey {
    -fx-background-color: #6c757d;  /* Szary kolor dla remisu (Draws) */
}

.red {
    -fx-background-color: #dc3545;  /* Czerwony kolor dla przegranej (Losses) */
}


/* Styl dla tabeli i jej nagłówków */
.table-view .column-header {
    -fx-text-fill: black;  /* Kolor tekstu nagłówków tabeli */
}

/* Styl dla labeli */
.label {
    -fx-text-fill: red;  /* Kolor tekstu dla labeli */
}


